p {
    color:yellow;
}
* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}
h1 {
    font-size: 36px;
}

#head2 {
    text-transform: uppercase;
}

.bg-color {
    background-color: yellow;
}
li[attribute=lang2] {
border-width: 2px;
    border-style: solid;

}
h4 + ol{
    list-style-type: ;
}
.lang1{
background-color: yellow;
}

}

 ul {
    letter-spacing: 5px;

}
 .img1 {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}
section p:last-of-type {
  text-align: center;
}
section > ul > li {
  letter-spacing: 8px;
}
#lang3 .lang33 {
  letter-spacing:8px;
}
.lang33 {
  list-style-type: lower-alpha;
}
#Lang {
  border-left: 1px solid black;
  padding-left: 10px;
}
#styled-list li[class="lang2"] {
  border: 1px solid blue;
  padding:5px;
}