/*ctrl / - comment*/

/*
	CSS Rules
	syntax:

	selector {
		property: value;
	}

	h1 {
		color: yellow;
	}

*/

/*Universal Selector*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body {
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}
nav {
	background-color: white;
}
a: hover {
	background-color:  #b4d6de;
}div {
	display: inline-block;
	float: right;
}

/*Type Selector*/
/*tag*/
h1 {
	color: yellow !important;
	text-align: center;
	font-size: 2rem;
}
section{
	height: 100vh;
	text-align: center;
}
h2 {
	font-size: 1.5rem;
}

h3 {
	letter-spacing: 25px;
}

/*ID Selector*/
/*#id-name*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector*/
/*tagname[atrribute]*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*Adjacent Sibling Selector*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendnt Selector*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*Gen. Sibiling Selector*/
/*selector*/
h2 ~ a, a{
	text-decoration: none;
}
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

body > section > form> label {
	color: rgb(0,0,128);
}

ol{
	list-style-type: none;
}

button {
	background-color: #cf0053;
	color: white;
	border-radius:15 px ;
}